<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo">
      <img src="../../../../assets/imgs/logo.png">
    </div>
    <ion-buttons slot="end" class="logout" (click) = "logout()">
      <ion-icon name="power-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="dashboard">
    <div class="register-con">
       <h1 class="titel">Help Line</h1>
     
      <div class="form-listbtn">
        <h3 class="tite2">For this service contact <b>+91 7074469159</b></h3>
      </div>
    </div>
  </div>
</ion-content>
