<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo">
      <img src="../../../../assets/imgs/logo.png">
    </div>
    <ion-buttons slot="end" class="logout" (click) = "logout()">
      <ion-icon name="power-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dashboard">
    <div class="register-con">
      <h4 class="titel">Category</h4>
      <ion-card>
        <ion-list padding *ngFor="let type of tudata">
          <ion-buttons (click)="opencategorydetailsPage(type.id)" class="btnadd">{{type.post_title}}</ion-buttons>
        </ion-list>
      </ion-card>
    </div>
  </div>
</ion-content>



